/* Loader.css */
.child-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Adjust as needed */
}

.child-loader .ant-spin {
    margin: 0 auto;
}
